.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-compo{
  /* height: calc(40vh +calc(calc(1vh/1vw)*10px)); */
  height: 60vh;
  width: 100%;
}

.testClass{
  background:linear-gradient(0deg,rgb(54, 54, 54),gray) !important ;
}

.second-mountains{
  background:linear-gradient(0deg,rgb(43, 43, 43),gray) !important;
}
.orange-mountains{
  background:linear-gradient(0deg,gray,gainsboro) !important;
}