.project-container{
    height: 100vh;
    /* background-color: yellow; */
    width: clamp(300px, 90vw,1400px) ;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
.bgm-img{
    width: clamp(265px,70vw,500px);
    aspect-ratio: 4/3;
    position: absolute;
    z-index: 0;

}
.project-desc{
    width: clamp(265px,60vw,500px);
    aspect-ratio: 4/3;
    /* background-color: gray; */
    position: absolute;
    text-align: center;
    /* height: 400px; */
    z-index: 1;
}